 .ForProductionBoxHeading{  
   top: 26px !important;
    position: relative;
    background: #ffffff;
    left: 21px
 }
 .datePicker{
   margin-left: 0px !important;
 }
 @media (min-width: 767px) {
  .itemConsumedMedia {
    padding-left: 0px;
  }
}