.itemGroupDisplay{
    flex-direction: column;
}
.dropdownItemValue{
    display: flex;
}
.dropDownHeading{
    width: 100%;
}
.dropdownItemValue .MuiFormControl-root{
    width: 50%;
}
.dropdownItemValue .MuiFormControl-root .MuiInput-formControl input{
    text-align: center;
}