/* .formHeading {
    position: relative;
    top: -1rem;
    background-color: #ffffff;
} */

.acc_add_container{
    border: 1px solid grey;
    padding: 1.6rem 1.6rem;
}

.other_heading{
    position: relative;
    top: -2.4rem;
    background-color: #ffffff;
}
/* 
@media (max-width: 767px) {
    .formHeading {
        top: -32px;
    }
}
@media (min-width: 1023px) {
    .formHeading {
        top: -70px;
    }
} */