.formHeading {
    position: relative;
    top: -49px;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .formHeading {
        top: -32px;
    }
}
@media (min-width: 1023px) {
    .formHeading {
        top: -70px;
    }
}