.generalInputLabel {
    display: flex;
    align-items: center;
}
.fieldAlignment {
    position: relative;
    top: -10px;
}

.accountsForm {
    border: 1px solid;
    padding: 5%;
}
input[type='checkbox'] {
    width: 20px;
    height: 20px;
}
.formTitle {
    position: relative;
    bottom: 60px;
    font-weight: 500;
}
.formBorder {
    border: 1px solid;
    padding: 1rem;
}
.formBorder span {
    background: white;
    position: relative;
    bottom: 29px;
}
.radioLabel {
    padding-right: 15px;
}

.accountDropdown{
    display: flex;
}
.dropdownSelectValue{
    bottom: 27px;
    position: relative;
    left: 10px;
}
.accountCheckbox{
    display: flex;
}
   
@media (max-width: 767px) {
    .accountsForm {
        padding: 5%;
    }
    .dropdownSelectValue {
        position: relative;
        bottom: 19px;
        width: 100%;
        left: 0;
    }
}