.billRefrenceRadioBtn {
    margin: 0 auto;
    width: 100%;
    border: 1px solid #000000;
    padding: 3%;
}
.billRefTextField {
    position: relative;
    bottom: 8px;
}

@media (max-width: 767px) {
  .dropdownWidth .MuiFormControl-root {
        width: 30% !important;
    }
}