.inventoryForm {
    border: 1px solid;
    padding: 7%;
}

.MuiFormControl-root {
    width: 100%;
}

.MuiFormControl-root select {
    border: none;
    border-bottom: 1px solid;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text {
    background: #007bff;
    border: #007bff;
    color: #ffffff;
}
