.inventoryForm {
    border: 1px solid;
    padding: 5%;
}

.inventoryCheckBox span {
    padding-left: 0px;
}

.MuiFormControl-root {
    width: 100%;
}

.MuiFormControl-root select {
    border: none;
    border-bottom: 1px solid;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text {
    background: #007bff;
    border: #007bff;
    color: #ffffff;
}

@media (max-width: 767px) {
    .inventoryCheckBox span {
        padding-left: 0px;
    }
}
