.configureBtns {
    text-align: end;
}

.MuiFormControl-root {
    width: 100%;
}

.MuiFormControl-root select {
    border: none;
    border-bottom: 1px solid;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text {
    background: #007bff;
    border: #007bff;
    color: #ffffff;
}
.inventoryButton .btn-primary{
    position: absolute;
    right: 5px;
}

@media (max-width: 767px) {
   .inventoryButton .MuiFormControlLabel-root{
    width: 70%;
    }
}
@media (min-width: 768px) {
   .inventoryButton .MuiFormControlLabel-root{
    width: 75%;
    }
}