.radioBtnsOne {
    border: 1px solid #000000;
    padding: 3%;
}
.inputHeadingOne {
    position: absolute;
    top: 27px;
    background-color: white;
}
.inputHeadingTwo {
    position: relative;
    bottom: 28px;
    background-color: white;
}