.loginContainer {
    border: 1px solid black;
    padding: 3%;
}
@media (max-width: 768px) {
    .loginContainer {
        padding: 5%
    }
}
@media (min-width: 769px) {
    .loginContainer {
        width: 570px;
        margin: auto;
    }
    .loginBtn {
        text-align: end;
    }
}