
.updateItemDiscHeading{
    position: relative;
    top: 11px;
    background: #ffffff;
    left: 21px;
}
.DiscTaggingHeading{
    position: relative;
    top: 27px;
    background: #ffffff;
    left: 21px;
}