.generalInputLabel {
    display: block !important;
    align-items: center;
}
.generalForm {
    border: 1px solid;
    padding: 3%;
}

.generalButtonContainer{
    width: 100%;
}

@media (max-width: 767px) {
    .generalForm {
        padding: 5%;
    }
    .inputFieldAlign {
        position: relative;
        top: -15px;
    }
}


