header {
    background-color: #343352;
    color: #fff;
}
.logo {
    width: 70px;
    margin: 0;
}
.hambergerMenu {
    font-size: 40px;
}
.nav-item:hover {
     color: rgb(255, 138, 115);
}
.dropdown-menu {
    line-height: .25rem;
    margin-top: 5px;
}
.dropdown-item {
    font-size: 15px;
}
.dropdown-toggle.active-dropdown::after {
    transform: rotate(-90deg);
}
@media (min-width:576px) {
    .navbar-nav {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}
@media (max-width:576px) {
    .dropdown-item {
        font-size: 12px;
    }
}
