body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  font-size: 16px;
}

.modalHeading {
  position: absolute;
  top: -40px;
}

.inventoryForm {
  border: 1px solid;
  padding: 5%;
  margin: 0 auto;
}

.inputError {
  color: red;
  font-size: 12px;
}

.divWidth {
  width: 100%;
}

.check-box-alignment{
  margin-top: 3px;
}
  
.popup-check-box-border{
    border: 1px solid;
    padding: 2% 3% 3% 3%;
}

.notes {
  font-size: 12px;
  color: red;
}

.textFieldAlignment {
  display: flex;
}

.textField {
  align-self: center;
}

@media (max-width: 765px) {
  h2 {
    font-size: 21px;
  }
}

@media (min-width: 767px) {
  .containerWidth {
    width: 570px;
    margin: 0 auto;
  }
}