.reginalForm {
    border: 1px solid;
    padding: 3%;
}
.saveBtn {
    text-align: end;
}
@media (max-width: 787px) {
    .quitBtn {
        padding: 0;
    }
    .reginalForm {
        padding: 5%;
    }
}